<html lang="en">

<%- include('../partials/head.ejs', {title: "Update Product" , css: "/css/adminpanel.css" }) %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="container">

                <%- include('../partials/sidebar.ejs') %>

                    <form onsubmit="addProduct(event)">
                        <!-- Table is split into two sections for ease of viewing -->
                        <table class="table">
                            <!-- Sets header for table contents -->
                            <thead>
                                <tr>
                                    <th id="recent" scope="col">Add Product</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <input id="product_id" type="hidden" name="product_id"></input>
                                    <td>
                                        <input id="name" type="text" name="name"></input>
                                    </td>
                                    <td>
                                        <input id="description" type="text" name="description"></input>
                                    </td>
                                    <td>
                                        <input id="category" type="text" name="category"></input>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <!-- Sets header for table contents -->
                            <thead>
                                <tr>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Shipping Cost</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="cost" type="text" name="cost"></input>
                                    </td>
                                    <td>
                                        <input id="shippingcost" type="text" name="shippingcost"></input>
                                    </td>
                                    <td>
                                        <input id="image" type="text" name="image"></input>
                                    </td>
                                    <td>
                                        <input id="quantity" type="text" name="quantity"></input>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="error-message" id="error-message"></p>
                        <!-- Calls a function that updates the database with changed records -->
                        <button id="button" class="submit" style="float: right;">Submit</button>
                    </form>
            </div>

            <script src="/js/adminpanel.js" type="text/javascript"></script>
            <script src="/js/admin.js" type="text/javascript"></script>
            <%- include('../partials/footer.ejs') %>

    </body>

</html>