<div class="sidebar">
    <!-- Dropdown style used to cascade options -->
    <button class="dropdown-btn">User Management</button>
    <div class="dropdown-container">
        <!-- Lists all available users (can also be edited) -->
        <a href="/listusers">
            <i class="fa fa-caret-right"></i> List Users</a>
    </div>
    <br>
    <button class="dropdown-btn">Order Management
    </button>
    <div class="dropdown-container">
        <!-- Lists all available orders -->
        <a href="/listorders">
            <i class="fa fa-caret-right"></i> List Orders</a>
    </div>
    <br>
    <button class="dropdown-btn">Product Management
    </button>
    <div class="dropdown-container">
        <!-- Lists all available products (with stock) -->
        <a href="/listproducts">
            <i class="fa fa-caret-right"></i> List Products</a>
        <!-- Allows admin to create a product -->
        <a href="#">
            <i class="fa fa-caret-right"></i> Add Product</a>
        <!-- Allows admin to update an existing product -->
        <a href="#">
            <i class="fa fa-caret-right"></i> Update Product</a>
    </div>
</div>