<html lang="en">
    <%- include('./partials/head.ejs', {title: "My Account", css:"/css/account.css"}) %>

<body>
    <%- include('./partials/nav.ejs', {token}) %>

    <h1>Account page</h1>
    <section id="card">
    <div class="container">
        <div class="main-body">
            <div class="row">
                    <div class="card">
                        <div class="card-body">
                           <!--Section for full name-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="full-name" type="text" class="form-control" value="" disabled >
                                </div>
                            </div>
                            <!--Section for Username -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="username" type="text" class="form-control" value="" disabled>
                                </div>
                            </div>
                             <!--Section for email-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="email" type="text" class="form-control" value="" disabled>
                                </div>
                            </div>
                             <!--Section for city-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="city" type="text" class="form-control" value="" disabled>
                                </div>
                              
                            </div>
                             <!--Section for address-->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="address" type="text" class="form-control" value="" disabled>
                                </div>
                            </div>
                              <!--Section for post code -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Postcode</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input id="postcode" type="text" class="form-control" value="" disabled>
                            </div>
                            </div>
                            <p class="error-message" id="error-message" style="display: none;">Internal Server Error. Account not deleted, please try again later!</p>
                             <!--Buttons-->
                                <div class="row">
                                <div class="col-sm-3"></div>
                                     <div class="col-sm-9 text-secondary">
                                        <button onclick="onDelete()" class="btn btn-danger px-4">Delete Account</button>
                                        <a href="/changepassword" class="btn btn-success px-4">Change password</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%- include("./partials/footer.ejs", {token}) %>
    <script src="/js/myAccount.js"></script>
</body>
</html>