<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <title>Kickstart</title>
        <link rel="stylesheet" href="s.css">
        <link rel ="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" >
        <script src="js/JQuery.js"></script>
    </head>
    <body>
      
           

            <div class="page">
                <div class ="bannerhead">
                    <div class="Section">
                        <div class="row">
                            <div class="col-5">
                                <p><b>Free Standard Delivery <br> On Orders Over £70</b></p>
                                <p><b>Online shopping 24/7 <br> With Contactless Delivery</b></p>
                                <p><b>Lots Of Great Deals<br> More Than 50% Off</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <ul id="adaptive" class="cs-hidden">
                    <li class="item-a">
                        <div class ="full-slider-box f-slide-1">
                            <div class="slider-text-container">
                                <div class="f-slider-text"
                                <span>Limited Offer</span>
                                <strong>30% off Womens Clothing</strong>
                                <a href="WomensPage.html" class="f-slider-btn">Shop Now</a>
                            </div>
                        </div>
                        
                    </div>
                    </li>

                    

                   
                  </ul>
                

              

        </div>

        <div class = "Section">
            <h2 class="Title"> Hot Products</h2>
            <div class="row">
                <div class="col-4">
                    <img src="images/product-1.jpg">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="images/luke.jpg">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="images/end.jpg">
                    <h4>CP Company T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>
        </div>
    
        <div class = "offer">
            <div class = "Section">
                <div class="row">
                    <div class="col-2">
                        <img src="Images/shoe2.jpg" class="offer-img">
                    </div>
                    <div class="col-2">
                        <h1><p>Half price at KickStart Clothing</p></h1>
                        <h1>Running Trainers</h1>
                        <small>Exclusively avaliable at KickStart clothing great for running and very comfortable
                        </small>
                        <a href="" class="btn">Buy Now &#8594</a>
                    </div>
                </div>
            </div>
        </div>

        

            
            
        

        
       
    </body>
</html>