<html lang="en">

<%- include('./partials/head.ejs', {title: "Login Page", css: "/css/login.css"}) %>

<body id="main">
    <%- include('./partials/nav.ejs') %>

    <img class="logo" src="/images/kslogo.png" alt="KickStarterLogo" style="width:200px">
    <a href="/" id="back"><img src="/images/back.png" alt="back" style="width:20px"> </a>
    <h1>Login To Your Account</h1>

    <div id="login">
        <form onsubmit="onLogin(event)">
            <input class="textbox" type="text" name="username" placeholder="Username" required>
            <input class="textbox" type="password" name="password" placeholder="Password" required>
            <p class="error-message" id="error-message"></p>
            <button id="button" class="submit" name="submit">Login</button>
            <p1>No Account?</p1>
            <a class="button" id="button" href="/signup" target="_parent">Create Account</a>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script src="/js/login.js"></script>
</body>

</html>