<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import the stylesheet for the page-->
    <link rel="stylesheet" href="myOrders.css">
</head>
<body style="background-color:#f4f0e4">
<br>
<br>
<br>
<br>
<br>
<br>
<!--Label to signify its the 'My Orders' page-->
<div class="MyOrders">
    <h1>My Orders:</h1>
</div>
<br>
<br>
<br>
<!--A box to show the orders in-->
<div class="boxOne"> 
    <h1>Order #</h1>
    </div>
<br>
<br>
<br>
<!--A box to show the orders in-->
<div class="boxTwo">
    <h1>Order #</h1>
    </div>
    <br>
    <br>
    <br>
<!--A box to show the orders in-->
<div class="boxThree">
    <h1>Order #</h1>
</div>    
<br>
<br>
<br>
</body>
</html>
