<!DOCTYPE html>
<html lang ="en">
    <%- include('./partials/head.ejs', {title: "Page not found", css: "/css/index.css"}) %>

    <body>
        <%- include("./partials/nav.ejs", {token}) %>
        <h1>Page not found.</h1>
        
        <%- include("./partials/footer.ejs", {token}) %>
    </body>
</html>