<!DOCTYPE html>
<html lang ="en">
    <%- include("./partials/head", {title: "Womens Clothing", css:"/css/index.css"}) %>
    <body>
        <%- include("./partials/nav.ejs", {token}) %>       

            <div class="page">
                <div class ="bannerhead">
                    <div class="Section">
                        <div class="row">
                            <div class="col-5">
                                <p><b>Free Standard Delivery <br> On Orders Over £70</b></p>
                                <p><b>Online shopping 24/7 <br> With Contactless Delivery</b></p>
                                <p><b>Lots Of Great Deals<br> More Than 50% Off</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class = "Section">

            <div class="row row-2">
                <h2>Womens</h2>
                <select>
                    <option>Default Sorting</option>
                    <option>Sort Price</option>
                    <option>Sort By Rating</option>
                </select>
            </div>


            <div class="row">
                <div class="col-4">
                    <img src="images/product-1.jpg">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="images/luke.jpg">
                    <h4>Red Printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="images/end.jpg">
                    <h4>CP Company T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-4">
                    <img src="">
                    <h4>shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
            </div>

       
    
        

        
       
    </body>
</html>