a{
    text-decoration: none;
    color: #255
}

p{
    color: #255
}

.container{
    max-width: 1300px ;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 70px;
}

.col-3{
    flex-basis: 30%;
    
    margin-bottom: 30px;
}

.ban1{
    margin-bottom: 10px;
    height: 150px;

}


.Section{
    
    width: 100vw;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.Title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}                       

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background-color: #fe9c38;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

.btn{
    display:inline-block;
    background: red;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.bannerhead{
    background: radial-gradient(yellow, yellow);
    padding: 15px 0;
}

.col-5{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    
}

.row-2{
   justify-content: space-between;
   margin: 100px auto 50px; 
}

select{
    border: 1px solid black;
    padding: 5px;
}

select:focus{
    outline: none
}

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;

}

.single-product .col-2 {
    padding: 20px;
    
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    padding: 10px;
    display: block;
    margin-top: 20px;
    
}

.full-slider-box{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.f-slide-1{
    background-image: url(images/Slider_03.jpg);
}

.f-slide-2{
    background-image: url(images/Slider_03.jpg);
}

.f-slide-{
    background-image: url(images/Slider_03.jpg);
}

.slider-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.f-slider-text strong{
    color: #333333;
    font-size: 3rem;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.f-slider-text span{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 500;
    color: #666666;
    font-size: 1.2rem;
}

.f-slider-btn{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    margin-top: 10px;
}

.swiper{
    width: 80%;
    height: fit-content;

}

.swiper-slide img{
    width: 100%;
}

.page{
    width: 100vw;
}

@media only screen and (max-width: 992px){
    .row{
        flex-direction: column;
        width: 100vw;
    }
}