#main {
    display: flexbox;
    text-align: center;
background-color: #ffffffc9;
}

.logo {
padding-top: 40;
}

#back {
align-content: left;
display: block;
margin-right:50em;
margin-top: 30px;
text-align: center;
}

#title {
    padding-left: 30px;
    color: #000000;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40;
}

.textbox {
   display: block;
   align-content: center;
   font-size: 30px;
   width: auto;
   background: rgba(255, 255, 255, 0.04);
   margin: auto;
   margin-top: 40;
}

.error-message{
    color: red;
}