*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* error message for forms */
.error-message{
    color: red;
}

/* success message for forms */
.success-message{
    color: green;
}

/* navbar styling */
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-item{
    text-align: center;
}

.list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile{
    display: none;
}

.nav-item a{
    margin: 0 1rem;
    color: black;
}

.nav-item a:hover{
    color: black;
    cursor: pointer;
}

.account-icon:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    box-shadow: 10px 5px 5px grey;
    width: 100px;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1px;
    align-items: center;
    background-color: white;
}

.dropdown-content .nav-item{
    width: fit-content;
    margin: 0.25rem;
}

.dropdown-content .nav-item:hover{
    text-decoration: underline;
}

.dropdown-content .nav-item a{
    width: fit-content;
    margin: 0;
    text-align: center;
}

/* Styling for buttons */
#button{
    width: 10rem;  
    height: 3rem;
    margin: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #6759ff;
    color: white;
}

/* footer styling */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#ffff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer 
  {
    text-align:center
  }
}

@media (max-width:767px)
{
   li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Media query for navbar */
@media only screen and (max-width: 768px){
    .nav-list{
        flex-direction: column;
        ;
    }

    .mobile-container{
        flex-direction: row;
    }

    .list-container{
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #hamburger{
        display: block;
        align-self: flex-end;
        margin: 1rem;
    }

    #hamburger:hover{
        cursor: pointer;
    }

    #logo{
        display: none;
    }

    .nav-item{
        padding: 1rem;
        width: 100vw;
    }

    .nav-item:hover{
        background-color: lightgray;
    }

    .dropdown{
        display: none;
    }
}
